.claimed-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border-style: solid;
  background-color: #ece9e9;
  border-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  width: 90%;
  margin: 1rem;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-claimed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.claimed-button {
  max-width: 5cm;
  min-width: 5cm;
}

h1 {
  font-size: 1rem;
  margin: 0.5rem;
}
